<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.facerun.dao.CustFruitMapper">

    <select id="queryFruitById" parameterType="java.util.Map" resultType="com.facerun.bean.Record">
        SELECT
        f.*
        FROM fruit f
        WHERE f.id = #{id}
    </select>

    <select id="queryFruitOrderById" parameterType="java.util.Map" resultType="com.facerun.bean.Record">
        SELECT
        a.name,a.phone,f.fname,f.fdesc,f.fimages,addr.city,addr.village,fpt.type,fpt.price,oi.count
        FROM orderitem oi
        INNER JOIN account a on a.id = oi.accountid
        INNER JOIN fruit f on f.id = oi.productid
        INNER JOIN address addr on addr.id = oi.addressid
        INNER JOIN fruitpricetype fpt on fpt.id = oi.pricetype
        WHERE oi.orderid=#{order_id} AND oi.accountid=#{account_id}
    </select>
</mapper>