<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.facerun.dao.CustPetDatingMapper">

    <resultMap id="BaseResultMap" type="com.facerun.bean.PetDating">
        <id column="id" jdbcType="BIGINT" property="id"/>
    </resultMap>

    <select id="getDatingList" parameterType="java.util.Map"  resultMap="BaseResultMap">
        SELECT
        pd.*
        FROM petdating pd
        ORDER BY pd.time DESC
        <if test="beginNum !=null">
            limit #{beginNum},#{limitSize}
        </if>
    </select>
</mapper>