<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.facerun.dao.CustCircleReplyMapper">

    <resultMap id="BaseResultMap" type="com.facerun.bean.CircleReply">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="reply_circle_id" jdbcType="BIGINT" property="replyCircleId"/>
        <result column="reply_user_id" jdbcType="BIGINT" property="replyUserId"/>
        <result column="reply_user_name" jdbcType="VARCHAR" property="replyUserName"/>
        <result column="reply_content" jdbcType="VARCHAR" property="replyContent"/>
        <result column="reply_time" jdbcType="BIGINT" property="replyTime"/>
        <result column="reply_id" jdbcType="BIGINT" property="replyId"/>
    </resultMap>

    <select id="getCircleReplyList" parameterType="java.util.Map" resultMap="BaseResultMap">
        SELECT
        cr.*
        FROM circlereply cr
        <where>
            <if test="reply_circle_id != null">
                cr.reply_circle_id = #{reply_circle_id}
            </if>
        </where>
        ORDER BY cr.reply_time DESC
    </select>
</mapper>