<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.facerun.dao.CustGroupInfoMapper">

    <select id="queryGroupMembers" parameterType="java.util.Map" resultType="com.facerun.bean.Record">
        SELECT
        a.id,a.name,a.phone,a.head_portrait AS headPortrait,a.account,a.create_at AS createAt
        FROM account a
        WHERE a.id IN (
          <foreach collection="members" item="member" separator=",">
              #{member}
          </foreach>
        )
    </select>

    <select id="queryGroupMembersAccount" parameterType="java.util.Map" resultType="com.facerun.bean.Account">
        SELECT
        a.id,a.name,a.phone,a.head_portrait AS headPortrait,a.account,a.create_at AS createAt
        FROM account a
        WHERE a.id IN (
        <foreach collection="members" item="member" separator=",">
            #{member}
        </foreach>
        )
    </select>

</mapper>