spring:
  profiles:
    active: develop
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    sql-script-encoding: utf-8
  mail:
    host: smtp.office365.com #smtp.exmail.qq.com
    username: smtp@mmx.co #postmaster@melinked.com
    password: ddOm3N=XWW #SBFmelinked2016
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true
      mail.smtp.starttls.required: true
  resources:
    chain:
      cache: true
      gzipped: true
    cache-period: 2592000
#logging:
#  file: logs/sample.log

---
logging:
  level:
    root: info
    my.app.sample: debug
host: http://localhost:8080
spring:
  profiles: develop
  datasource:
    url: jdbc:mysql://localhost:3306/facerun?useUnicode=true&characterEncoding=utf8&zeroDateTimeBehavior=convertToNull&allowMultiQueries=true
    username: root
    password: 123456
    initialSize: 5
    minIdle: 5
    maxActive: 20
    maxWait: 60000
    timeBetweenEvictionRunsMillis: 60000
    minEvictableIdleTimeMillis: 300000
    validationQuery: SELECT 1 FROM DUAL
    testWhileIdle: true
    testOnBorrow: false
    testOnReturn: false
    poolPreparedStatements: true
    maxPoolPreparedStatementPerConnectionSize: 20
  mongodb:
    url: mongodb://172.16.3.223
    dbname: mmx
  resources:
    static-locations: classpath:/public/
  beetl:
    cache: false
    template-loader-path: /templates/
  temp:
    filePath: temp/
  salesMail:
    to: wei.kong@melinked.com
  http:
    multipart:
      enabled: true
      max-file-size: 30MB
      max-request-size: 30MB
