<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>背景图片自适应</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>

        dt {
            width: 100%;
            height: auto;
        }

        img {
            background-color: grey;
            color: bisque;
            width: 120px;
            height: auto;
            float: left;
            vertical-align: top;
        }

        div {
            width: 100%;
            float: left;
            padding: 1px;
        }

        span {
            padding: 10px;
        }
    </style>
</head>

<body>

<dl>
    <dt>
        <div>
            <img src="http://pic.melinked.com/me2017/a21/0n3fcdlde7r9.jpg"/>
            <span>狂暴鸭脖（爆辣）</span><br>
            <span>月销量1254份</span><br>
            <span>3.5元/根</span>
        </div>
    </dt>
    <dt>
        <div>
            <img src="http://pic.melinked.com/me2017/a21/0n3fcdlde7r9.jpg"/>
            <span>狂暴鸭头 5元/头</span><br>
            <span>月销量1254份</span><br>
            <span>5元/头</span>
        </div>
    </dt>
    <dt>
        <div>
            <img src="http://pic.melinked.com/me2017/a21/0n3fcdlde7r9.jpg"/>
            <span>狂暴鸭翅 15元/小份</span><br>
            <span>月销量1254份</span><br>
            <span>15元/小份</span>
        </div>
    </dt>
    <dt>
        <div>
            <img src="http://pic.melinked.com/me2017/a21/0n3fcdlde7r9.jpg"/>
            <span>狂暴鸡尖 13元/小份</span><br>
            <span>月销量1254份</span><br>
            <span>13元/小份</span>
        </div>
    </dt>
</dl>

</body>
</html>